body {
  background-color: #fff;
}
body .navbar-top {
  background-color: #fff;
  display: inline-block;
}
body .navbar-top .login-register {
  padding-left: 20px;
  display: inline-block;
}
body .navbar-top .login-register a {
  font-size: 14px;
  font-weight: bolder;
  color: #d52b1e;
}
body .navbar-top .login-register a:hover {
  color: #121212;
}
body .navbar-top .login-register span {
  color: #d52b1e;
}
body .navbar-top .contact-navbartop {
  display: inline-block;
  position: absolute;
  right: 0;
}
body .navbar-top .contact-navbartop a {
  font-size: 14px;
  font-weight: bolder;
  color: #d52b1e;
}
body .navbar-top .contact-navbartop a:hover {
  color: #121212;
}
body .separator {
  background-color: #f9f9f9;
  border: solid 1px #e0e0e0;
  padding: 7px;
}
body header {
  position: sticky;
  top: 0;
  z-index: 1;
}
body header .navbar-bot {
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}
body header .navbar-bot div a img {
  width: 225px;
  height: 80px;
  width: 100%;
}
body header .navbar-bot div div ul {
  padding-right: 100px;
}
body header .navbar-bot div div ul .item-nav {
  padding-left: 10px;
}
body header .navbar-bot div div form button {
  color: #d52b1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #212529;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: #000;
}

main .carousel div div .tittle-carousel {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 32px 32px 0;
}
main .carousel div div .tittle-carousel .preheader {
  font-size: 20px;
  font-family: FuturaPT;
  letter-spacing: 1px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
  main .carousel div div .tittle-carousel .preheader {
    font-size: 12px;
  }
}
main .carousel div div .tittle-carousel h2 {
  font-family: FuturaPT, sans-serif;
  padding-bottom: 0.5em;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
  main .carousel div div .tittle-carousel h2 {
    font-size: 12px;
  }
}
main .carousel div div .tittle-carousel .btn-primari {
  background-color: #d52b1e;
  color: #fff;
  z-index: 1;
  font-weight: bold;
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
  main .carousel div div .tittle-carousel .btn-primari {
    font-size: 12px;
  }
}
main .top-container {
  margin: 25px 0px;
  padding: 0 2.5% 20px;
}
main .top-container .top-products .top-product img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
main .top-container .top-products .top-product .top-product-button {
  background: #d52b1e;
  width: 100%;
  z-index: 1;
  padding: 0px 20px;
  text-align: center;
  color: #fff;
  font-family: FuturaPT, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
}
main hr {
  width: 80px;
  display: block;
  border-top: 4px solid #d52b1e;
  margin: 0 auto;
  opacity: 1;
}
main .image-container-new {
  border: solid 1px #e8d5d5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  height: 550px;
}
main .image-container-new a img {
  height: 467px;
}
main .image-container-new a img:hover {
  opacity: 0.1;
  transition: opacity 0.2s ease 0s;
}
main .image-container-new a #sound-img {
  height: 200px;
}
main .tittle-new {
  display: flex;
  justify-content: center;
  text-align: start;
  height: 48px;
}
main .tittle-new:hover {
  color: #d52b1e;
}

body .footer-container {
  margin-top: 200px;
  background-color: #121212;
  color: #fff;
}
body .footer-container div .logo-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body .footer-container div .logo-slogan .logo-footer {
  width: 30%;
}
body .footer-container div .social {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 425px) {
  body .footer-container div .social {
    align-items: flex-start;
  }
}
body .footer-container div .social img {
  width: 50px;
  padding-left: 10px;
}
body .footer-container div .social img:hover {
  transform: translatey(20px);
  transition: 1000ms;
  transition-timing-function: linear;
}
body .footer-container div .social a {
  color: #d52b1e;
}
body .footer-container div .social a:hover {
  color: #fff;
}
body div .footer-bot {
  display: flex;
  justify-content: center;
  gap: 10px;
}

main nav {
  margin-bottom: 50px;
}
main div .tittle-filters {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
main div .tittle-filters .category ul {
  padding-top: 20px;
  padding-left: 0;
  padding-bottom: px;
}
main div .tittle-filters .category ul li {
  list-style: none;
  padding-bottom: 10px;
}
main div .filter-xs {
  margin-bottom: 30px;
}
main div .gallery .gallery-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
main div .gallery .div1 {
  grid-area: 1/1/2/2;
}
main div .gallery .div2 {
  grid-area: 1/2/2/3;
}
main div .gallery .div3 {
  grid-area: 1/3/2/4;
}
main div .gallery .div4 {
  grid-area: 2/1/3/2;
}
main div .gallery .div5 {
  grid-area: 2/2/3/3;
}
main div .gallery .div6 {
  grid-area: 2/3/3/4;
}
main div .gallery .div7 {
  grid-area: 3/1/4/2;
}
main div .gallery .div8 {
  grid-area: 3/2/4/3;
}
main div .gallery .div9 {
  grid-area: 3/3/4/4;
}
main div .gallery .div10 {
  grid-area: 4/1/5/2;
}
main div .gallery .div11 {
  grid-area: 4/2/5/3;
}
main div .gallery .div12 {
  grid-area: 4/3/5/4;
}
@media screen and (max-width: 450px) {
  main div .gallery .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  main div .gallery .div1 {
    grid-area: 1/1/2/2;
  }
  main div .gallery .div2 {
    grid-area: 1/2/2/3;
  }
  main div .gallery .div3 {
    grid-area: 2/1/3/2;
  }
  main div .gallery .div4 {
    grid-area: 2/2/3/3;
  }
  main div .gallery .div5 {
    grid-area: 3/1/4/2;
  }
  main div .gallery .div6 {
    grid-area: 3/2/4/3;
  }
  main div .gallery .div7 {
    grid-area: 4/1/5/2;
  }
  main div .gallery .div8 {
    grid-area: 4/2/5/3;
  }
  main div .gallery .div9 {
    grid-area: 5/1/6/2;
  }
  main div .gallery .div10 {
    grid-area: 5/2/6/3;
  }
  main div .gallery .div11 {
    grid-area: 6/1/7/2;
  }
  main div .gallery .div12 {
    grid-area: 6/2/7/3;
  }
}
main div .gallery .img-tittle-container {
  border: solid 2px #fff;
  justify-content: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
main div .gallery .img-tittle-container .img-container {
  display: flex;
  max-height: 800px;
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  main div .gallery .img-tittle-container .img-container {
    height: 350px;
    width: 110px;
  }
}
main div .gallery .img-tittle-container .tittle {
  height: 50px;
  background-color: #fff;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
main div .gallery .img-tittle-container .tittle a {
  color: #d52b1e;
}

main nav {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  main .sucursales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .sucursales div {
    display: flex;
    flex-direction: column;
  }
}

main .ab-us-container {
  background-color: #fff;
}
main .ab-us-container h2 {
  margin-top: 80px;
}
main .ab-us-container div div {
  text-align: center;
}
main .ab-us-container div div p span {
  font-weight: bolder;
}

main .guia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .guia div {
  align-items: center;
  text-align: center;
}
main .guia div .img-guia-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 188px;
}
main .guia div .tittle-guia {
  height: 113px;
}
main .questions {
  margin-top: 100px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
