@import '../base/list';

body {
    background-color: nth($colors, 2);

    .navbar-top {
        background-color: nth($colors, 2);
        display: inline-block;
        

        .login-register {
            padding-left: 20px;
            display: inline-block;

            a {
                font-size: nth($font-size, 3);
                font-weight: bolder;
                color: nth($colors, 1);
                &:hover{
                    color:nth($colors, 3) ;
                }
            }

            span {
                color: nth($colors, 1);
            }
        }

        .contact-navbartop {
            display: inline-block;
            position: absolute;
            right: 0;

            a {
                font-size: nth($font-size, 3);
                font-weight: bolder;
                color: nth($colors, 1);
                &:hover{
                    color:nth($colors, 3);
                }

            }

        }

    }

    .separator {
        background-color: #f9f9f9;
        border: solid 1px #e0e0e0;
        padding: 7px;
    }
    header{ position: sticky;
        top: 0;
        z-index: 1;
        .navbar-bot {
        border-bottom: 1px solid #e0e0e0;    
        background-color: nth($colors , 2 );    
       
        div {
            a {

                img {
                    width: 225px;
                    height: 80px;
                    width: 100%;
                }
            }

            div {
                ul {
                    padding-right: 100px;
                    .item-nav {
                        padding-left: 10px;
                    }
                }

                form {
                    button{
                        color: nth($colors, 1  );
                    }
                    
                }
            }
        }

    }
    }
    
}