@import '../base/list';

main {
    .carousel {
        div {


            div {
                .tittle-carousel {
                    width: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: transparent;
                    padding: 0;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin: 32px 32px 0;

                   

                    .preheader {
                        font-size: 20px;
                        font-family: FuturaPT;
                        letter-spacing: 1px;
                        margin-bottom: 16px;
                        text-transform: uppercase;
                        font-weight: bold;
                        @media only screen and (min-width:425px) and (max-width:768px) {
                            font-size: 12px;
                            }
                    }

                    h2 {
                        font-family: FuturaPT, sans-serif;
                        padding-bottom: 0.5em;
                        font-weight: 700;
                        font-size: 44px;
                        line-height: 1.25;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        @media only screen and (min-width:425px) and (max-width:768px) {
                            font-size: 12px;
                            }
                    }

                    .btn-primari {
                        background-color: nth($colors, 1);
                        color: nth($colors, 2);
                        z-index: 1;
                        font-weight: bold;

                
                        @media only screen and (min-width:425px) and (max-width:768px) {
                            font-size: 12px;
                            }
                    
                    }
                }
            }
        }
    }

    .top-container {
        margin: 25px 0px;

        padding: 0 2.5% 20px;

        .top-products {
            .top-product {
               
                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                }

                .top-product-button {
                    background: #d52b1e;
                    width: 100%;
                    z-index: 1;
                    padding: 0px 20px;
                    text-align: center;
                    color: #fff;
                    font-family: FuturaPT, sans-serif;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    font-size: 20px;

                }
            }

        }
    }

    hr {
    width: 80px;
    display: block;
    border-top: 4px solid #d52b1e   ;
    margin: 0 auto;
    opacity: 1;
    }


        .image-container-new {
            
            border: solid 1px #e8d5d5;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            background-color: #fff;
            height: 550px;

            a {
                img {
                    height: 467px;

                    &:hover {
                        opacity: .10;
                        transition: opacity .2s ease 0s;
                    }

                }

                #sound-img {
                    height: 200px;
                }
            }
        }

        .tittle-new {
            display: flex;
            justify-content: center;
            text-align: start;
            height: 48px;
            &:hover {
                color: nth($colors, 1);
            }
        }
    }


