main{
    .ab-us-container{
        background-color: nth($colors, 2 );
        h2{
            margin-top: 80px;
        }
    
        div{
            div{text-align: center;
                p{
                    span{
                        font-weight: bolder;
                    }
                }
            }
        }
    
    }

}